boto3==1.4.7
botocore==1.12.211
cloudpickle==0.4.0
future==0.16.0
fuzzywuzzy==0.14.0
jsonschema==2.6.0
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.0
setuptools==36.2.7
pymongo==3.9.0
requests==2.20.0
setuptools==36.2.7
six==1.12.0
sklearn_crfsuite==0.3.6
spacy==1.9.0
tqdm==4.34.0
typing==3.6.2
duckling==1.7.3
protobuf==3.4.0
klein==19.6.0
pytest==3.2.1
scikit_learn==0.19.0
treq==17.8.0
Twisted==19.7.0
python-Levenshtein==0.12.0
