boto3==1.9.215
botocore==1.12.220
cloudpickle==1.2.1
future==0.17.1
fuzzywuzzy==0.17.0
jsonschema==3.0.2
matplotlib==3.1.1
nltk==3.4.5
numpy==1.17.0
setuptools==41.2.0
pymongo==3.9.0
requests==2.22.0
setuptools==41.2.0
six==1.12.0
sklearn_crfsuite==0.3.6
spacy==2.1.8
tqdm==4.35.0
typing==3.6.2
duckling==1.8.0
protobuf==3.9.1
klein==19.6.0
pytest==5.1.1
scikit_learn==0.21.3
treq==18.6.0
Twisted==19.7.0
python-Levenshtein==0.12.0
